/* .holiday-swiper .swiper-button-prev, .swiper-button-next{
    display: none;
  
} */

.holiday-swiper {
    width: 78%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.holiday-swiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25rem;
    height: 26rem;
}


.card-hover-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 25px;
  transition: opacity 0.3s ease;
}

.holiday-card:hover .card-hover-overlay {
  opacity: 1;
}
